.mybtn {
    background-color: #008CBA;
    border: none;
    padding: 0.2em 0.2em 0.2em 0.2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0.2em 0.2em 0.2em 0.2em;
    cursor: pointer;
    min-width: 2em;
    border-radius: 0.2em;
}

.tools {
    display: block;
    margin: 0.5em;
}

.block {
    display: block;
}

.red {
    background-color: #f44336;
}

.green {
    background-color: #4CAF50;
}

.pink {
    background-color: #FF00FF;
}

.blue {
    background-color: #008CBA;
}

.blueviolet {
    background-color: BlueViolet;
}

.brown {
    background-color: brown;
}

.crimson {
    background-color: crimson;
}

.black {
    background-color: black;
}

.gray {
    background-color: #555555;
}

textarea {
    width: 100%;
    height: 100%;
}

table {
    width: 100%;
}

.td-right {
    text-align: right;
}

.td-padding0 {
    padding: 0.2em;
}

/* 覆盖样式 */

header.post-header div.post-meta {
    margin-bottom: 0.875em;
}

div.posts-expand div.post-block {
    padding-top: 0em;
}

input[type="checkbox"] {
    background-color: blue;
}